
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game , body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-bottom: 20px;
    background-color: #fafafa;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ticGrid {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.8s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.ticGrid:active {
    transform: rotate(360deg);
}

.ticGrid:hover {
    border: 2px solid #091057;
    background-color: #e0e0f8;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.playerX {
    color: #007bff; 
    text-shadow: 2px 2px 4px rgba(0, 123, 255, 0.5);
  }

.playerO {
    color: #ff5733; 
    text-shadow: 2px 2px 4px rgba(255, 87, 51, 0.5);
}


.restart-button {
    padding: 12px 24px;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.8s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.restart-button:hover {
    background-color: #0056b3;
    transform: scale(1.15);

}

.restart-button:active {
    transform: scale(0.95);
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    color: #333;
}


.gamee-result{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff5733;
    height: 100px;
    width: 400px;
    color: #333;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Poppins' , sans-serif;
    text-align: center;
    font-size: large;
}